{% extends 'base_formularios.html' %}
{% load static %}
{% block cursos_centro %}

	<div class="container">
		<div class="row mb-4 mt-5">
		<h1>Cambio de password</h1>
		</div>
		<div class="row">
		<div class="col">
	<form action="." method="POST" enctype="multipart/form-data">
	                            {% csrf_token %}
		<div class="container">
		<div class="row mb-2">
			<div class="col col-6 ">
			<label for="id_old_password">Contraseña antigua:</label>
			</div>	
			<div class="col col-6">
		<input class='form-control' type="password" name="old_password" autocomplete="current-password" autofocus required id="id_old_password">	
			</div>
			</div>
			<div class="row mb-2">
			<div class="col col-6">
			<label for="id_new_password1">Contraseña nueva:</label>	
			</div>		
			<div class="col col-6">
				<input class="form-control" type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">		
			</div>
			</div>
			<div class="row mb-2">
			<div class="col">
			<ul>
				<li>Su contraseña no puede ser muy similar a su otra información personal.</li>
				<li>Su contraseña es muy corta. Debe contener al menos 8 caracteres.</li>
				<li>Su contraseña no puede ser una contraseña de uso común.</li>
				<li>Su contraseña no puede ser completamente numérica.</li>
			</ul>
			</div>
			</div>
			<div class="row mb-4">
			<div class="col col-6">
			<label for="id_new_password2">Confirmación de contraseña nueva:</label>		
			</div>
			<div class="col col-6">
			<input class='form-control' type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
			</div>
			</div>
			<div class="row">
			<input class="btn btn-primary" type="submit" value="Confirmar">
			</div>
		</form>
		</div>
	</div>
	</div>
{% endblock %}
