{% extends 'base_formularios.html' %}
{% load static %}
{% block cursos_centro %}

	<div class="container">
		<div class="row mb-3">
			<div class="col">
				<h1>Perfil</h1>
			</div>
		</div>
		{% if form.errors %}
			<ul>
				{% for field in form %}
					{% for error in field.errors %}
						<li>
							{% if field != '__all__' %}
								<strong>Error en el control:{{ field.label }}:</strong>
							{% endif %}
							{{ error }}
						</li>
					{% endfor %}
				{% endfor %}
			</ul>
			{% if form.non_field_errors %}
				<ol>
					{% for error in form.non_field_errors %}
						<li class="color_error"><strong>{{ error|escape }}</strong></li>
					{% endfor %}
				</ol>
			{% endif %}
		{% endif %}
	<form action="." method="POST" enctype="multipart/form-data">
		{% csrf_token %}
			<div class="row mb-4">
				<div class="col col-3">Nombre:</div>
				<div class="col col-9">{{form.nombre}}</div>
			</div>
			<div class="row mb-4">
				<div class="col col-3">Avatar:</div>
				<div class="col col-9">{{form.avatar}}</div>
			</div>
			<div class="row mb-4">
				<div class="col col-3">Biografia:</div>
				<div class="col col-9">{{form.biografia}}</div>
			</div>
			<div class="row mb-4">
				<div class="col col-3">Recibe Mails:</div>
				<div class="col col-9">{{form.recibemails}}</div>
			</div>
			<div class="row mb-4">
				<div class="col col-3">Sexo:</div>
				<div class="col col-9">{{form.sexo}}</div>
			</div>
			<div class="row mb-4">
				<div class="col col-3">Fecha nacimiento:</div>
				<div class="col col-9">{{form.nacimiento}}</div>
				{{form.nacimiento.errors}}
			</div>
			<div class="row mt-2">
				<input class=" col btn btn-primary btn-block" type="submit" value="Actualizar">
			</div>
	</form>
		<div class="row mt-4 mb-5">
			<div class="col">
				Desea cambiar su clave?, Puede hacerlo con este 
<a href="{% url 'registration:cambio_password' %}">enlace</a>
	</div>
		</div>
	</div>
{% endblock %}