{% extends 'base_formularios.html' %}
{% load static %}
{% block cursos_centro %}

	<div class="container">
		<div class="row mt-5 mb-5">
			<div class="col">
				Nuevo Capitulo para el curso: <b>{{curso.titulo}}</b>
			</div>
		</div>
{% include 'includes/manejo_errores.html'%}
		<div class="row">
			<div class="col">
			<form action="." method="POST" enctype="multipart/form-data">
			{% csrf_token %}
{% include 'includes/capitulo_controles.html'%}
				</form>
			</div>
		</div>
	</div>
{% endblock %}
